%table.table.table-hover
  %thead
    %tr
      %th Date
      %th Type
      %th Status
      %th From
      %th To
      %th Amount
      %th Currency
  %tbody
    - operations_grouping(local_operations).each do |(group, grouped_operations)|
      - if params[:grouping]
        %tr.warning
          %td{colspan: 5} #{group}
          %td #{operations_sum(grouped_operations)}
          %td
      - grouped_operations.each do |operation|
        %tr
          -# %td
            -# #{operation.id}
          %td #{operation.date.strftime('%m.%d %R')}
          %td #{operation.type}
          %td #{operation.status}
          %td #{operation.from}
          %td #{operation.to}
          %td #{operation.amount}
          %td #{operation.currency}
