%h2 Payeer Accounts
%table.table
  %thead
    %tr
      %th Id
      %th Email
      %th Currency
      %th Balance
  %tbody
    - payeer_accounts.each do |account|
      %tr
        %td
          %a{href: routes.payeer_account_path(id: account.id)} #{account.account_id}
        %td #{account.email}
        %td USD
        %td #{account.balance}
    %tr
      %td{colspan: 2}
        %a{href: routes.payeer_account_path(id: Web::Views::PayeerAccounts::Show::COLLECTIVE_ACCOUNT_ID)} All
      %td USD
      %td #{all_accounts_balance}
