.row
  .col-xs-8
    .row
      .col-xs-12
        %h3 Filters:
    .row
      .col-xs-2
        %h5 Periods:
      .col-xs-10
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :day))}  Today
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :prev_day))} Prev Day
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :week))} Last Week
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :month))} Last Month
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :archived))} Archive
        -# %a.btn{href: routes.payeer_account_path(params.to_hash.merge(period: :calendar_month))} LCalendar Month
        %a.btn{href: routes.payeer_account_path(params.to_hash.dup.tap { |p| p.delete(:period)})} Reset
    .row
      .col-xs-2
        %h5 Groups:
      .col-xs-10
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(grouping: :day))} Day
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(grouping: :week))} Week
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(grouping: :month))} Month
        %a.btn{href: routes.payeer_account_path(params.to_hash.dup.tap { |p| p.delete(:grouping)})} Reset
    .row
      .col-xs-2
        %h5 Type:
      .col-xs-10
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(type: :incoming))} Incoming
        %a.btn{href: routes.payeer_account_path(params.to_hash.merge(type: :outgoing))} Outgoing
        %a.btn{href: routes.payeer_account_path(params.to_hash.dup.tap { |p| p.delete(:type)})} Reset
  .col-xs-4
    .col-xs-12
      %h3 Accounts:
      #{account}
.row
  .col-xs-12
    .row
      .col-xs-12
        %h3 Incomes (#{operations_sum(income_operations.flat_map(&:last))}$)
    .row
      - income_operations.each do |(account_id, local_operations)|
        .col-md-6.col-sm-12
          %h4 #{account_brand(account_id)} #{account_id} (#{operations_sum(local_operations)}$)
          = render partial: 'payeer_accounts/operations_table',
                   locals: { local_operations: local_operations}

  .col-xs-12
    - if outcome_sci_operations.any?
      .row
        .col-xs-12
          %h3 Investment (#{operations_sum(outcome_sci_operations.flat_map(&:last))}$)
      .row
        - outcome_sci_operations.each do |(account_id, local_operations)|
          .col-md-6.col-sm-12
            %h4 #{account_id} (#{operations_sum(local_operations)}$)
            = render partial: 'payeer_accounts/operations_table',
                     locals: { local_operations: local_operations}

    - if outcome_transfer_operations.any?
      .row
        .col-xs-12
          %h3 Transfers (#{operations_sum(outcome_transfer_operations.flat_map(&:last))}$)
      .row
        - outcome_transfer_operations.each do |(account_id, local_operations)|
          .col-md-6.col-sm-12
            %h4 #{account_id} (#{operations_sum(local_operations)}$)
            = render partial: 'payeer_accounts/operations_table',
                     locals: { local_operations: local_operations}

    - if outcome_exchange_operations.any?
      .row
        .col-xs-12
          %h3 Exchanges (#{operations_sum(outcome_exchange_operations.flat_map(&:last))}$)
      .row
        - outcome_exchange_operations.each do |(account_id, local_operations)|
          .col-md-6.col-sm-12
            %h4 #{account_id} (#{operations_sum(local_operations)}$)
            = render partial: 'payeer_accounts/operations_table',
                     locals: { local_operations: local_operations}

    - if outcome_other_operations.any?
      .row
        .col-xs-12
          %h3 Other Operations (#{operations_sum(outcome_other_operations.flat_map(&:last))}$)
      .row
        - outcome_other_operations.each do |(account_id, local_operations)|
          .col-md-6.col-sm-12
            %h4 #{account_id} (#{operations_sum(local_operations)}$)
            = render partial: 'payeer_accounts/operations_table',
                     locals: { local_operations: local_operations}
