<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= javascript 'application' %>
    <%= stylesheet 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <div class='container'>
      <a href="<%= routes.payeer_accounts_path %>"> Home </a>
      <%= yield %>
    </div>
  </body>
</html>
